@model CineAvanzada.Models.Promociones
@{
	ViewBag.Title = "Promociones";
}

<h2>Promociones</h2>
<html lang="en">
<head>
	<meta charset="utf-8" /><!-- este meta sirve para definir el charset a utf-8 y asi mostrar caracteres del idioma español -->
	<title>Cine</title>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="sss/sss.css">
	<link rel="stylesheet" href="estilos.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="sss/sss.js"></script>
	@Styles.Render("~/Content/css")
	<script>
		jQuery(function ($) {
			$('.slider-testimonial').sss({
				slideShow: true,
				speed: 3500
			});
		});
	</script>

</head>
<body>
	<div class="wrapper">
		<div class="slider-testimonial">
			@foreach (var Promocion in Model.ListaPromociones)
			{
				<div class="testimonial-item">
					<div class="testimonial-client">
						<img src=@Promocion.Imagen width="250" height="200" />
						<p class="client-name"> Nombre: @Promocion.Nombre<br> </p>
					</div>
					<div class="testimonial-text">
						<p>Descripcion:<br>@Promocion.Descripcion<br></p>			
					</div>
				</div>
                
			}
		</div>
	</div>
</body>
</html>

