@{
	ViewBag.Title = "Home Page";
}
<html lang="es">
<head>
	<meta charset="utf-8" /><!-- este meta sirve para definir el charset a utf-8 y asi mostrar caracteres del idioma español -->
	<title>Cine</title>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="sss/sss.css">
	<link rel="stylesheet" href="estilos.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="sss/sss.js"></script>


	@Styles.Render("~/Content/css")

	<script>
		jQuery(function ($) {
			$('.slider-testimonial').sss({
				slideShow: true,
				speed: 3500
			});
		});
	</script>
</head>
<body>
	<div align="center">
		<img src="Imagenes/cinema-division.jpg" alt="Error" width="350" height="200">
	</div>

	<div class="wrapper">
		<div class="slider-testimonial">
			@foreach (var Pelicula in Model.Peliculas)
			{
				<div class="testimonial-item">
					<div class="testimonial-client">
						<img src=@Pelicula.Imagen width="250" height="200" />
						<p class="client-name"> Nombre: @Pelicula.Nombre<br> </p>
					</div>
					<div class="testimonial-text">
						<p>Sinopsis:<br>@Pelicula.Sinopsis<br></p>
					</div>
				</div>
			}
		</div>
	</div>

</body>

</html>